html,body{
    margin:0;
    padding: 0;
    background-color: #9ec3df;
}
a { 
    text-decoration: none;
}
nav{
    padding: 1%;
}

.inline-block {
    display: inline-block;
    font-family: 'fira sans';
    font-style: normal;
    font-size: 28px;
    line-height: 10px;
    letter-spacing: 2px;
    word-spacing: 100px;
    padding: 10px;
}
.footer {
    background-color: #ffe595;
    align: center;
    text-align: center;
}



li {
    display: inline;
    margin-right: 20px;
 }

 h1{
    font-family: 'poiret one';
    font-style: regular;
    font-size: 200px;
    line-height: 100%;
    color: #ffe595;
    text-align:left;
    margin: 40px;
    padding-left: 0px;
    writing-mode: vertical-rl;
}

h2{ color:#003359;
    font-family: 'Fira Sans';
    font-size: 40px;
    font-weight: roman; 
    text-align: left;
    padding-bottom: 0%; 
    padding-top: 0px;
    padding-right: 0px;
    margin: 50px;
}

h3 {color: white;
    font-family: 'fira sans';
    font-size: 36px;
    font-weight: roman; 
    text-align: left;
    padding-bottom: 0%; 
    padding-top: 0px;
    margin: 50px;
    letter-spacing: 2px;
}
h4 {color:#003359;
    font-family: 'fira sans';
    font-size: 32px;
    font-weight: roman; 
    text-align: left;
    margin: 50px;
}
p {
    color:#003359;
    font-family: 'fira Sans';
    font-size: 30px;
    font-weight:normal; 
    text-align: left;
    padding-bottom: 2%; 
    padding-top: 0px;
    padding-right: 20px;
    margin: 75px;
 }

.column1 {
    float: left;
    width: 40%;
    background-color: #9ec3df;
    height:12in;
}

.column2 {
    float: center;
    width: 20%;
    background-color: #9ec3df;
}


.column3 {
    float: right;
    width: 40%;
    background-color: white;
    height:10in;
}
button {
    color:#ffe595;
    font-family: 'fira Sans';
    font-size: 30px;
    font-weight:normal;
    float: left;
    margin-top: 25px;
    background-color:#003359;
    padding: 20px;


}


